WebServiceCompania/WS_CRUD_Compania/App_WebReferences/ServiceReference1/WS_Metodos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CargarTablaCompañia">
        <s:complexType />
      </s:element>
      <s:element name="CargarTablaCompañiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarTablaCompañiaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCompañia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCompañiaEnvios" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreCompañia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCompañiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarCompañiaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCompañia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCompañiaEnvios" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCompañiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarCompañiaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCompañia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCompañiaEnvios" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreCompañia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCompañiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarCompañiaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarCompañia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCompañiaEnvios" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarCompañiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarCompañiaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CargarTablaCompañiaSoapIn">
    <wsdl:part name="parameters" element="tns:CargarTablaCompañia" />
  </wsdl:message>
  <wsdl:message name="CargarTablaCompañiaSoapOut">
    <wsdl:part name="parameters" element="tns:CargarTablaCompañiaResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarCompañiaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCompañia" />
  </wsdl:message>
  <wsdl:message name="InsertarCompañiaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarCompañiaResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarCompañiaSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCompañia" />
  </wsdl:message>
  <wsdl:message name="EliminarCompañiaSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarCompañiaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCompañiaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCompañia" />
  </wsdl:message>
  <wsdl:message name="ActualizarCompañiaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCompañiaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarCompañiaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarCompañia" />
  </wsdl:message>
  <wsdl:message name="ConsultarCompañiaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarCompañiaResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MetodosSoap">
    <wsdl:operation name="CargarTablaCompañia">
      <wsdl:input message="tns:CargarTablaCompañiaSoapIn" />
      <wsdl:output message="tns:CargarTablaCompañiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCompañia">
      <wsdl:input message="tns:InsertarCompañiaSoapIn" />
      <wsdl:output message="tns:InsertarCompañiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCompañia">
      <wsdl:input message="tns:EliminarCompañiaSoapIn" />
      <wsdl:output message="tns:EliminarCompañiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCompañia">
      <wsdl:input message="tns:ActualizarCompañiaSoapIn" />
      <wsdl:output message="tns:ActualizarCompañiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCompañia">
      <wsdl:input message="tns:ConsultarCompañiaSoapIn" />
      <wsdl:output message="tns:ConsultarCompañiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_MetodosSoap" type="tns:WS_MetodosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarTablaCompañia">
      <soap:operation soapAction="http://tempuri.org/CargarTablaCompañia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCompañia">
      <soap:operation soapAction="http://tempuri.org/InsertarCompañia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCompañia">
      <soap:operation soapAction="http://tempuri.org/EliminarCompañia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCompañia">
      <soap:operation soapAction="http://tempuri.org/ActualizarCompañia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCompañia">
      <soap:operation soapAction="http://tempuri.org/ConsultarCompañia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MetodosSoap12" type="tns:WS_MetodosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarTablaCompañia">
      <soap12:operation soapAction="http://tempuri.org/CargarTablaCompañia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCompañia">
      <soap12:operation soapAction="http://tempuri.org/InsertarCompañia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCompañia">
      <soap12:operation soapAction="http://tempuri.org/EliminarCompañia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCompañia">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCompañia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCompañia">
      <soap12:operation soapAction="http://tempuri.org/ConsultarCompañia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Metodos">
    <wsdl:port name="WS_MetodosSoap" binding="tns:WS_MetodosSoap">
      <soap:address location="http://localhost:53057/WS_Metodos.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MetodosSoap12" binding="tns:WS_MetodosSoap12">
      <soap12:address location="http://localhost:53057/WS_Metodos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>